PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=skillmatch
DB_USER=postgres
DB_PASSWORD=

JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=7d

# Poner en false para deshabilitar /api-docs en produccion
DOCS_ENABLED=true
